@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Rubik", sans-serif;
}

button:focus-visible {
  outline: none;
}

/* Nav Class */
.open-nav {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.close-nav {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

/* Swiper JS */
.swiper {
  width: 100%;
  height: 100%;
}
